@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
  /* background-color: #ecf8f8; */
  background-image: linear-gradient(to right bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.content {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.aboutme {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100vh;
  width: 600px;
  background-color: white;
  color: #303036;
  padding-top: 20px;
}

.contacts {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100vh;
  width: 400px;
  background-color: #303036;
  color: white;
}

.avatar {
  box-sizing: border-box;
  width: 150px;
  border-radius: 50%;
  margin-top: 30px;
}

.shadow {
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
}

#cont {
  margin-top: 40px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

footer {
  /* height: 50px; */
  background-color: #303036;
  color: white;
}

.links {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.location {
  /* margin-top: 40px; */
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .logo {
  width: 50px;
  border-radius: 50%;
} */

.maps {
  width: 40px;
  height: 40px;
  background-image: url(assets/google-maps.jpg);
  background-size: cover;
  border-radius: 50%;
}

.maps:hover {
  background-image: url(assets/google-maps.gif);
}

.location:hover > .maps {
  background-image: url(assets/google-maps.gif);
}

a {
  text-decoration: none;
  color: #0074D9;
  font-size: 15px;
}

.vdk {
  position: relative;
}

.vdk::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #0074D9;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .vdk:hover::before{
    left: 0;
    right: auto;
    width: 100%;
  }
}

.phone {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  /* border: solid white 2px; */
}

.phone-icon {
  height: 40px;
  width: 40px;
  background-image: url(assets/phone.jpg);
  background-size: cover;
  border-radius: 50%;
}

.phone-icon:hover {
  background-image: url(assets/phone.gif);
}

.phone:hover > .phone-icon {
  background-image: url(assets/phone.gif);
}

/* .space { */
  /* border: solid white 2px; */
  /* height: 50px;
  width: 88px; */
/* } */

.number {
  font-size: 15px;
}

.bottom {
  /* display: flex; */
  position: absolute;
  bottom: 10px;
  /* right: 20px; */
  width: inherit;
  flex-direction: column;
  box-sizing: border-box;
}

@media (max-width: 1100px) {
  .bottom {
    width: fit-content;
    padding-left: 10px;
  }
}

.links-bottom {
  list-style-type: none;
}

#avatar {
  display: flex;
  justify-content: center;
}

.soc-icon {
  width: 40px;
}

#info {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

#rss {
  width: 100px;
}

.rss-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border: solid 2px white; */
  padding-top: 30px;
}

.flaticon {
  position: relative;
}

.flaticon::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #0074D9;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .flaticon:hover::before{
    left: 0;
    right: auto;
    width: 100%;
  }
}

.links-bottom {
  font-size: 17px;
  padding-top: 10px;
}

.flaticon {
  font-size: 17px;
}

.source {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

