@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

body {
    font-family: 'Roboto';
    background-color: aliceblue;
    color: #0f141e
}

img {
    width: 200px;
    border-radius: 40%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 25);
    margin-right: 30px;
}

.info {
    display: flex;
    padding: 20px;
}

a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}

a:link {
    color: #265301;
  }
  
  a:visited {
    color: #437A16;
  }
  
  a:focus {
    border-bottom: 1px solid;
    background: #BAE498;
  }
  
  a:hover {
    border-bottom: 1px solid;
    background: #CDFEAA;
  }
  
  a:active {
    background: #265301;
    color: #CDFEAA;
  }