@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
  background-color: #ecf8f8;
}

.content {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.aboutme {
  box-sizing: border-box;
  height: 100vh;
  width: 600px;
  background-color: white;
  /* border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black; */
  color: #303036;
  font-size: 30px;
  font-weight: bold;
}

.contacts {
  box-sizing: border-box;
  height: 100vh;
  width: 400px;
  background-color: #303036;
  /* border-right: black solid 5px; */
  /* border-top-left-radius: 5px; */
  /* border-bottom-left-radius: 5px; */
  /* border-left: 1px solid black; */
  /* border-top: 1px solid black; */
  /* border-bottom: 1px solid black; */
  color: white;
}

.avatar {
  box-sizing: border-box;
  width: 200px;
  border-radius: 50%;
  margin-top: 30px;
  margin-left: 100px;
  /* border: solid 10px #241e4e; */
}

.shadow {
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
}

#cont {
  margin-top: 40px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

footer {
  height: 50px;
  background-color: #303036;
  color: white;
}

.links {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.location {
  margin-top: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* .logo {
  width: 50px;
  border-radius: 50%;
} */

.maps {
  width: 50px;
  height: 50px;
  background-image: url(assets/google-maps.jpg);
  background-size: cover;
  border-radius: 50%;
}

.maps:hover {
  background-image: url(assets/google-maps.gif);
}

.location:hover > .maps {
  background-image: url(assets/google-maps.gif);
}

a {
  text-decoration: none;
  color: #0074D9;
  font-size: 20px;
}

.vdk {
  position: relative;
}

.vdk::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #0074D9;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .vdk:hover::before{
    left: 0;
    right: auto;
    width: 100%;
  }
}

.phone {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  /* border: solid white 2px; */
}

.phone-icon {
  height: 50px;
  width: 50px;
  background-image: url(assets/phone.jpg);
  background-size: cover;
  border-radius: 50%;
}

.phone-icon:hover {
  background-image: url(assets/phone.gif);
}

.phone:hover > .phone-icon {
  background-image: url(assets/phone.gif);
}

.space {
  /* border: solid white 2px; */
  height: 50px;
  width: 88px;
}

.number {
  font-size: 20px;
}